<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0" />
    <title>UITCSGANG</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.ico')}}" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <script src="/static/js/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="bg">
    <div id="bg-overlay"></div>
    <div class="wrap">
      <img class="logo" src="/static/img/logo_full.png" />
      <form class="form_insert" name="form_insert" id="form_insert" action="/insert" method="POST" enctype=multipart/form-data>
          <div class="input-group"  style="margin-top: 30px;">
              <div class="input-group-prepend">
                <input type="submit" value="Upload" class="input-group-text" id="inputGroupFileAddon01">
              </div>
              <div class="custom-file">
                    <input type=file name=file class="custom-file-input"  id="inputGroupFile01" accept=".jpg,.jpeg,.png" multiple>
                    <label class="custom-file-label" for="inputGroupFile01">Choose files</label>
              </div>
          </div>
      </form>
    </div>
  </div>
</body>
<script type="text/javascript">
    $('#inputGroupFileAddon01').prop("disabled", true);
    $('#inputGroupFile01').change(function() {
    // submit the form
        $('#inputGroupFileAddon01').prop("disabled", false);
    });
  </script>

</html>