<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0" />
  <title>UITCSGANG</title>
  <link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.ico')}}" />
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/css/style.css" rel="stylesheet" />
  <link href="/static/css/baguetteBox.min.css" rel="stylesheet" />

</head>

<body>
  <nav class="navbar navbar-dark fixed-top bg-dark" style="height: 60px;">
    <div class="navbar-container">
      <a href="/">
        <img class="logo-sm" src="/static/img/logo.png">
      </a>
      <form class="form_search" name="form_search" action="/search" method="POST">
        <div id="search_bar" name="search-navbar" class="searchbar searchbar-sm">
          <input id="query" class="search_input search_input-sm" type="text" name="query" placeholder="Search..."
            onfocus="focus_input()" onblur="onblur_input()" />
          <script type="text/javascript">
            document.getElementById('query').value = '{{ value }}';
          </script>
          <a href="javascript: submitform()" class="search_icon search_icon-sm">
            <i class="fas fa-search"></i>
          </a>
        </div>
      </form>
    </div>
  </nav>
  {% if not images %}
  <div class="nothing">
    <img src="https://memegen.link/custom/nothing_found!/change_your_words!.jpg?alt=https://cdn.cnn.com/cnnnext/dam/assets/190517064417-01-grumpy-cat-file-live-video.jpg", height="75%"> </img>
</div>
  {% else %}
  <section class="gallery-block cards-gallery">
    <div class="container" style="margin-top: 20px">
      <div class="tz-gallery">
        <div class="row">
          {% for image in images %}
          <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
              <a class="lightbox" href="{{url_for('send_image',filename=image[0])}}">
                <img src="{{url_for('send_image',filename=image[0])}}" alt="picture" class="card-img-top thumb">
              </a>
              <div class="card-body">
                  <h5 class="card-title">{{ image[1] }}</h5>
                  <p class="card-text">{{ image[0] }}</p>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <script type="text/javascript" src="/static/js/main.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/baguetteBox.min.js"></script>
  <script>
    baguetteBox.run('.tz-gallery');
  </script>
</body>

</html>